* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.heading {
  margin-top: 80px;
  text-align: center;
}

.heading h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.container {
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 2px;
  background-color: #f0f0f0;

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  text-align: center;
}

.container .input-group {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.container .btn {
  width: 150px;
  padding: 10px;
  margin-top: 15px;
}

.container #rate {
  margin-top: 25px;
  color: #e02323;
}

.display {
  display: none;
}

